= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places&key=AIzaSyDaMIwD-73f2_FuvWcAm0olLBYwMTkR9os&callback=initMap", defer: "defer"

.centered style="text-align:center;"
  h1 GeoFencing
  br
  = form_for :geofencing, url: get_position_geofencing_index_path , method: "post", html: {class: 'ui form', id: "geofencing_form"} do |f|
    p.heading Insert Location To Get Position
    br
    = f.text_field :address, placeholder: "Enter your location here", required: true
    = f.hidden_field :lat
    = f.hidden_field :long
    = f.hidden_field :count

#map-canvas style="height: 600px;"

javascript:
  var map;
  var infoWindow;
  check_pick_up_lat_long();

  var centralCoords = #{raw @central_coords.to_json};

  function initMap(lat, long) {
    if (lat !== undefined){
      center_point = {lat: lat, lng: long}
    }
    else{
      center_point = {lat: 32.775094, lng: -79.945450}
    };
    map = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 13,
      center: center_point
    });

    // Construct the central polygon.
    var centralTriangles = [];
    for (i = 0; i < centralCoords.length; i++) {
      polygon = new google.maps.Polygon({
        paths: centralCoords[i],
        strokeColor: 'white',
        strokeOpacity: 1,
        strokeWeight: 2,
        fillColor: '#42b388',
        fillOpacity: 0.50
      });
      centralTriangles.push(polygon)
    }

    if (lat !== undefined){
      pick_up = {lat: lat, lng: long}
      var marker = new google.maps.Marker({
        position: pick_up,
        map: map,
        title: 'Hello World!'
      });
    };

    var i;
    for (i = 0; i < centralTriangles.length; i++) {
      centralTriangles[i].setMap(map);
    }

    infoWindow = new google.maps.InfoWindow();

    var locations = #{raw @locations.to_json};

    var marker;

    for (i = 0; i < locations.length; i++) {
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infoWindow.setContent(locations[i][0]);
          infoWindow.open(map, marker);
        }
      })(marker, i));
    }
  };

  function check_pick_up_lat_long() {
    setInterval((function() {
      var lat = document.getElementById("geofencing_lat").value
      var long = document.getElementById("geofencing_long").value
      var count = parseInt(document.getElementById("geofencing_count").value)
      if (lat !== "") {
        if (count == 0) {
          initMap(parseFloat(lat), parseFloat(long) );
          document.getElementById("geofencing_count").value = 1
        }
      }else{
        return console.log("no lat-long");
      };
    }), 1000);
  };
